# Ignore node_modules in the root directory
/node_modules
/package-lock.json
# Ignore node_modules in the Client directory
/client/node_modules
/client/package-lock.json

# Ignore node_modules in the Server directory
/server/node_modules
/server/package-lock.json
